<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LnuBookShare</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom mb-3">
            <div class="container-fluid">                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav nav-main flex-grow-1 px-4 gap-2">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area = "" asp-controller ="Catalog" asp-action = "Search">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Кабінет</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Сповіщення</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Уподобання</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>