
.admin-table-card {
    border-radius: 12px;
    overflow: hidden;
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.admin-search-select {
    width: 160px;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.03);
}

.admin-search-input {
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.03);
}


.admin-filter-card {
    border-radius: 12px;
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.search-icon-pos {
    z-index: 5;
}
